/*
TODO: make it look good with CSS reset
* {
    padding: 0;
    border: 0;
    margin: 0;
}
*/

html {
    font-family: 'Raleway', sans-serif;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 { text-align: center; }

h1 {
    margin-top: 10%;
}

h2 {
    margin-top: -5%;
}

#lastfm {
    text-align: center;
    margin: 0 auto 19.92px;
}

#lastfm img {
    margin-right: 5px;
}

#lastfm a:hover, img:hover,
div#social.section div.contact a span:hover {
    opacity: 0.5;
}

p {
    text-align: justify;
    width: 95%;
    margin: auto;
}

ul {
    -webkit-padding-start: 0;
}

.nav {
    color: black;
}

a {
    opacity: 1;
}

.nav:hover, a:hover {
    opacity: 0.5;
}

.section {display: none;}

div#social.section div.contact a span,
a, img {
    text-decoration: none;
    color: black;
    opacity: 1;
    cursor: pointer;
    vertical-align: middle;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

img, img:hover {
    cursor: default;
}

#social table tbody tr td img {
}

#social table tbody tr td a:hover {
    opacity: 0.5;
}

.buffer {
    height: 200px;
    display: block;
    position: relative;
}

.circular {
    display: block;
    max-width: 300px;
    max-height: 170px;
    height: auto;
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    margin: auto;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.circular:hover {
    opacity: .5;
}

table {
    margin: 5px auto;
}

td {
    padding: 0 10px;
}

td img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

td:first-child {
    text-align: right;
}

td:last-child {
    text-align: left;
}

iframe {
    margin: 0 auto;
    display: block;
}

span {
    margin: auto;
    display: block;
    text-align: center;
}

.section ul {
    text-align: left;
    width: 90%;
    list-style-position: outside;
    display: block;
    margin-left: 2em;
}

.section ul li {
    display: list-item;
    text-align: left;
}

@-moz-document url-prefix() {
    .section ul { margin-left: 0; }
}

#freelance > p > a,
#software > p > a {
    color: blue;
}
